@page "/paramètres"
@inject NavigationManager Navigation 
<div>
<h3>Paramètres
</h3>
</div>
<html lang="fr">
<head>
    
</head>
<body>
    <div>
    </div>
</body>
</html>

@code {
    private void NavigateToPage()
    {
        Navigation.NavigateTo("/archives");
    }
}
