<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CourrierAppMinader</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="courriers suivis">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Courriers suivis
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="courriers ouverts">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Courriers ouverts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Sous-directions">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Sous-directions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Bureaux">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Bureaux
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Brouillons">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Brouillons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Archives">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Archives
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Paramètres">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Paramètres
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
    </nav>
</div>

